<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </head>
  <body>
   


<div class="row">

    <div class=" col-6 form-group">
        <h1>To-Do <small>List</small></h1>
      <div role="form">
          <input id="todoInput" type="text" class="form-control" placeholder="Your Task" name="task">
      </div>
      <button type="text" class="btn btn btn-primary">Add</button>
    </div>

      <ul class="list-unstyled" id="todo"></ul>
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>To Do!</th>
              </tr>
            </thead>
            <tbody class="list">
              <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
              </tr>
              -->
            </tbody>
          </table>
    </div>
</div>




  </body>
</html>
